DJANGO_SECRET_KEY=change-me
USE_SQLITE=True
DB_NAME=news_db
DB_USER=root
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=3306
DEFAULT_FROM_EMAIL=no-reply@example.com
APPROVED_ARTICLE_CALLBACK_URL=http://127.0.0.1:8000/api/approved/
